<section class="section-container getHelp">
    <h1>What is sexual &amp; gender based violence</h1>
    <hr>
    
    <p>Sexual assault is actual, attempted, or threatened sexual contact with another person without that person’s consent. Learn more <a href='https://www.poderosaisherpower.org/get-help/' target='_blank' title='Follow this link to get more information on what is sexual based violence'>here</a>.</p>

    <br>
    <h1>What to Do if You’ve Just Experience Violence </h1>
    <hr>

    <ol>
      <li>Get to a safe place.</li>
      <li>Contact someone who can help you: a friend, the police (911), the local hospital or these hotlines.</li>
      <li>Report your abuser. Not sure if you feel safe or comfortable reporting? Learn more <a href='https://www.poderosaisherpower.org/survivors-guide/reporting-the-abuser' target='_blank' title='Follow this link to get more information on how to report an abuser'>here</a>.</li>
    </ol>

    <br>
    <h1>Common Questions of Survivors of Gender-based Violence</h1>
    <hr>
      
    <p>Emotional responses of survivors will vary from individual to individual. Read some <a href='https://www.poderosaisherpower.org/survivors-guide/common-questions' target='_blank'>here</a> on common questions of survivors.</p>

    <br>
    <h1>Common Feeling of Survivors of Gender-based Violence</h1>
    <hr>

    <p>Sexual assault can be extremely traumatic and life-changing. It’s important to remember that your responses are not crazy; they are normal reactions to a traumatic situation. Read more <a href='https://www.poderosaisherpower.org/survivors-guide/common-feelings' target='_blank'>here</a> on common feelings survivors of gender-based violence  may experience. </p>

    <h1>Hotlines</h1>
    <hr>

    <p>If you or someone you know needs help, call <span class="desktop-number">(1)800-656-4673</span><a class="mobile-number" href="tel:+18006564673">(1)800-656-4673</a> for immediate support or these 24-hour hotlines that offer information and crisis intervention</p>

    <p>MUJER, Inc: <span class="desktop-number">305-763-2459</span><a class="mobile-number" href="tel:+13057632459">305-763-2459</a></p>
    <p>Nancy J. Cotterman Center: <span class="desktop-number">954-761-7273</span><a class="mobile-number" href="tel:+19547617273">954-761-7273</a></p>
    <p>Palm Beach County Victim Services: <span class="desktop-number">866-891-7273</span><a class="mobile-number" href="tel:+18668917273">866-891-7273</a></p>
    <p>Roxcy Bolton RTC: <span class="desktop-number">305-585-7273</span><a class="mobile-number" href="tel:+13055857273">305-585-7273</a></p>
  </section>