<section class="section-container ngos" >
  <h1>For NGOS</h1>
  
  <form action="https://send.pageclip.co/tCaBaBF20d3xs4hSE3RyX20H5MGSAydj/forNGOS" class="pageclip-form" method="post">
    <label for="street">Street Address</label>
    <input type="text" name="street-address" id="street" required />

    <label for="city">City</label>
    <input type="text" name="city" id="city" required />
    
    <label for="county">County</label>
    <input type="text" name="county" id="county" required />
    
    <label for="zipcode">Zip Code</label>
    <input type="text" name="zip-code" id="zipcode" required />
    
    <label for="office-number">Office Number</label>
    <input type="text" name="office-number" id="office-number" required />
    
    <label for="website">Website</label>
    <input type="text" name="website" id="website" />
    
    <label for="point-of-contact">Point of Contact</label>
    <input type="text" name="point-of-contact" id="point-of-contact" />
    
    <label for="hotline">Hotline</label>
    <input type="text" name="hotline" id="hotline" required />
    
    <label for="description">Service Description</label>
    <textarea name="description" id="description" required></textarea>
    <br>
    <br>
    
    <label for="eligibility">Eligibility</label>
    <input type="text" name="eligibility" id="eligibility" required />
    
    <label for="cost">Cost</label>
    <input type="text" name="cost" id="cost" required />

    <label>Type of Center</label>
    <select name="type" required>
      <option value="legal">Legal</option>
      <option value="housing">Housing</option>
      <option value="financial">Financial</option>
      <option value="medical">Medical</option>
      <option value="psychological">Psychological</option>
    </select>

    <label>Added Cost</label>
    <select name="added-cost" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Crisis</label>
    <select name="crisis"required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Medical</label>
    <select name="medical" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>ST Councel</label>
    <select name="stcouncel" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>LT Councel</label>
    <select name="ltcouncel" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Legal</label>
    <select name="legal" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Case Management</label>
    <select name="case-management" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Referral System</label>
    <select name="referral-system" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Shelter</label>
    <select name="shelter" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    
    <label>Empowerment</label>
    <select name="empowerment" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    
    <label>Prevention</label>
    <select name="prevention" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Undocumented Friendly</label>
    <select name="undocumented-friendly" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>LGBTQ Friendly</label>
    <select name="lgbtq-friendly" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>Pain Points</label>
    <select name="pain-points" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <button type="submit" class="pageclip-form__submit action-button">
      <span>Send</span>
    </button>
  </form>
</section>