@import url('https://fonts.googleapis.com/css?family=Muli:700i|Questrial');

.top {
  background:#6eb2d1;
  padding: 0 5%;
}

.sidenav-trigger {
  position: absolute;
  top: 1%;
  left: 2%;
}

header > p, .contactUsBanner > p {
  text-transform: uppercase;
  text-align: center;
  color: #fefeff;
  padding: 10px;
  margin: 0;
}

header > p > a {
  color: #fdfdfd;
  font-weight: bold;
}

.notice {
  position: absolute;
} 

.admin-actions {
  position: absolute;
  right: 1%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.admin-actions > .admin-button > a {
  transition: 0.3s;
}

.admin-actions > .admin-button > a:hover {
  color: #e4fbff;
  transition: 0.3s;
}

.notice, .alert {
  margin: 0;
}

.admin-button {
  font-family:'futura', 'Muli';
  font-size: 19px;
  margin: 7px 10px 2px 10px;
}

.admin-button > a {
  color: #2f586e;
}

.sidenav-trigger {
  color:#eeffff;
  top: 50;
}

#slide-out > li {
  font-family:'Futura', 'Questrial';
  list-style:none;
  color:#2f586e;
  padding:7px 12px 7px 12px;
  cursor:pointer;
}

#slide-out > li:hover > a {
  color:#eeffff;
}

#slide-out > li:hover {
  background:#2f586e;
}
ul > li, ol > li, li > a {
  font-family:'Futura', 'Questrial';
  color:#2f586e;
  padding:7px 12px 7px 12px;
  font-size: 17px;
}

.forSurvivorsLink {
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  color: #2e5b6e;
}
