h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.3em;
    font-family:'Futura', 'Questrial';
    font-weight: bold;
    color:#1f1f1f;
    margin-top: 10%;
}

#new_admin {
    margin-top: 10%;
}

#admin_email {
    border-radius: 5px 5px 0 0;
}

#admin_password {
    border-radius: 0 0 5px 5px;
}

#admin_email, #admin_password {
    background-color: #fafafa;
    box-sizing:border-box;
    border-bottom: none;
    height: 4em;
    padding: 16px 30px 16px 35px;
    margin-bottom: 0;
}

#admin_email::placeholder, #admin_password::placeholder {
    font-size: 1.2em;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: all;
}

#remember_user {
    margin-top: 3%;
}

.actions {
    margin-top: 30px;
}

.login-action {
    padding-left: 0;
}

.login-action > a{
    font-family:'Futura', 'Muli';
    color:#2f586e;
    margin: 15px 0;
}