@media all and (max-width: 768px) {
  header > p, .contactUsBanner > p {
    font-size: 12px;
    margin-left: 10px;
  }

  .mobile-number {
    display: inline !important;
  }

  .wrapper {
    flex-direction: column;
  }

  .logo {
    width:25%;
    margin-top: 20px;
  }
  
  .logo img {
    width:160px;
    height:50px;
  }

  .shortcuts {
    flex-direction: column;
    align-items:start;
    margin-left: 20px;
    margin-top: 10px;
  }

  .shortcuts > a {
    margin-top: 5px;
  }
  
  .inputs {
    flex-direction: column;
  }
  
  .desktop-number {
    display: none;
  }
}

@media all and (max-width: 480px) {
  #index-main-text {
    margin-bottom: 20px;
  }

  #searchbar {
    font-size: 14px;
    border-radius: 5px 5px 0 0;
  }

  .searchbutton {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }

  .search-menu {
    flex-direction: column;
  }
}