<footer>
    <button>ADDITIONAL RESOURCES</button>

    <div class="wrapper">
        <div class="shortcuts">
        <a href="https://www.google.com" target="_blank">
            <i class="material-icons">call</i>Help hotlines</a>

        <a href="https://emergencybnb.com/" target="_blank">
            <i class="material-icons">home</i>Temporary housing</a>

        <a href="https://rainn.org/articles/safety-planning" target="_blank">
            <i class="material-icons">local_hospital</i>Safety planning for survivors</a>
        </div>

        <div class="logo">
            <img src="/images/LOGOX-min.png">
        </div>

    </div>
</footer>