<div class="contactUsBanner footer-banner center-align">
    <p>You are not alone. If you or someone you know needs help, call <span class="desktop-number">1-800-656-4673</span><a class="mobile-number" href="tel:+18006564673">1-800-656-4673</a> for immediate support or contact us today.</p>
</div>

<footer>
    <button>ADDITIONAL RESOURCES</button>

    <div class="wrapper">
        <div class="shortcuts">
        <a href="https://www.google.com" target="_blank">
            <i class="material-icons">call</i>Help hotlines</a>

        <a href="https://emergencybnb.com/" target="_blank">
            <i class="material-icons">home</i>Temporary housing</a>

        <a href="https://rainn.org/articles/safety-planning" target="_blank">
            <i class="material-icons">local_hospital</i>Safety planning for survivors</a>
        </div>

        <div class="logo">
        <img src="/images/LOGOX.png">
        </div>

    </div>
</footer>