<footer>
    <button>ADDITIONAL RESOURCES</button>

    <div class="wrapper">
        <div class="shortcuts">
        <a href="https://www.google.com" target="_blank">
            <i class="material-icons">call</i><%= I18n.t 'index.footer.hotlines'%></a>

        <a href="https://emergencybnb.com/" target="_blank">
            <i class="material-icons">home</i><%= I18n.t 'index.footer.housing'%></a>

        <a href="https://rainn.org/articles/safety-planning" target="_blank">
            <i class="material-icons">local_hospital</i><%= I18n.t 'index.footer.safety_planning'%></a>
        </div>

        <div class="logo">
            <img src="/images/LOGOX-min.png">
        </div>

    </div>
</footer>